<ion-view view-title="Categories">

  <ion-content>
    	<div class="row unlimited-items">
            <div class="col card" ng-repeat="category in cctrl.items track by $index" ng-click="cctrl.goToSubcategories(category)">
                  <div class="item item-image">
                    <img class="card-image" ng-src="http://182.71.155.142:8888/demo/news/public/images/categories/1/{{category.saved_file_name}}" 
                    onerror="this.onerror=null;this.src='img/error_image_news.png';">
                  </div>
                  <div class="item assertive no-white-space" href="#">
                    {{category.name}}
                  </div>
            </div>
        </div>
  </ion-content>
</ion-view>
