<ion-view cache-view = "false" view-title="Latest News">
  <ion-content>
   <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="nlc.doRefresh()">
  </ion-refresher>
  <div class="list card" ng-repeat="l in nlc.data">
  <div class="item item-thumbnail-left" ng-click="nlc.viewDetail(l)">
    <img src="http://182.71.155.142:8888/demo/news/public/images/stories/{{l.saved_file_name}}">
    <h2>{{l.title}}</h2>
    <p ng-bind-html="l.content"></p>
  </div>
  </div>
  </ion-content>
</ion-view>
