<ion-side-menus type="overlay">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable menuhead">
	<h1 class="menutitle">News Application</h1>
	 <img class="img-responsive center-block img-loginpen" style="height:30px;width:100%;"src="img/loginpen.png"/> 
     <p class="username"> <i class="icon ion-person"></i>{{user.name}}</p> 
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/latest_news">
         <p style="margin-top: 112px;"> Latest News </p>
        </ion-item>
        <ion-item menu-close href="#/app/categories">
            <p >Categories </p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
