<ion-view hide-back-button="false" view-title="News">
<ion-nav-bar class = "bar-stable">
   <ion-nav-back-button class = "button-clear" ng-click = "goBack()" style="display: inline !important">
      <i class = "icon ion-arrow-left-c"></i>
   </ion-nav-back-button>

    </ion-nav-bar>
  <ion-content>
    <div class="list card">
   
	  <div class="item item-avatar">
	    <img src="http://182.71.155.142:8888/demo/news/public/images/stories/{{detail.saved_file_name}}">
	    <h2>{{detail.title}}</h2>
	    <p>November 05, 1955</p>
	  </div>

	  <div class="item item-body">
	    <img class="full-image" src="http://182.71.155.142:8888/demo/news/public/images/stories/{{detail.saved_file_name}}">
	    <p ng-bind-html="detail.content"></p>
	    <p>
	     <button class="subdued button button-stable" ng-click="showRatingPopUp()">Rate</button>
			
	    </p>
	  </div>

	</div>
  </ion-content>
</ion-view>
