<ion-view>
   
  <ion-content>
  <div class="otp">
  
  
  <h2 class="otp-header">News Application</h2>

  <form class="otp-container" ng-submit="doLogin()">
  
    <img class="img-responsive center-block img-loginpen" src="img/loginpen.png">	
	
	<h1 class="otphead">Sit back & Relax! while we verify your mobile number</h1>
	
	 <p class="newsregister"> (Enter the OTP below in case if we fail to detect the SMS automatically)</p>
	
    <p><input  type="text"  ng-model="user.otp" placeholder="Enter OTP"></p>
    
    <p><input style="margin-top: 50px;" type="submit" value="SUBMIT" ng-click="onSubmit(user)"></p>
  </form>
</div>
    <!-- <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Recieved OTP</span>
          <input type="text" ng-model="user.otp">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit", ng-click="onSubmit(user)">Submit</button>
        </label>
      </div>
    </form> -->
  </ion-content>
</ion-view>


 <!-- <div class="otp">
  
  
  <h2 class="otp-header">News Application</h2>

  <form class="otp-container">
  
    <img class="img-responsive center-block img-loginpen" src="img/loginpen.png">	
	
	<h1 class="otphead">Sit back & Relax! while we verify your mobile number</h1>
	
	 <p class="newsregister"> (Enter the OTP below in case if we fail to detect the SMS automatically)</p>
	
    <p><input  type="text" placeholder="Enter OTP"></p>
    
    <p><input style="margin-top: 50px;" type="submit" value="SUBMIT"></p>
  </form>
</div> -->