<ion-view>
  <ion-content>
     <div class="login">

      <h2 class="login-header">News Application</h2>

      <form class="login-container" ng-submit="doLogin()">
      
        <img class="img-responsive center-block img-loginpen" src="img/loginpen.png"> 
      
      <h1 class="newshead">News Application</h1>
      
      <p class="newsregister">Get Register </p>
      <p class="newsregister"> Enter Your Mobile number for verification</p>
      
        <p><input id="writeinput" type="number" placeholder="mobile" ng-model="user.mobileNo" ></p>
        <p><input type="submit" value="GET OTP" ng-click="onSubmit(user)"></p>
      </form>
    </div>
  </ion-content>
</ion-view>
