@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.otp {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.otp-header,
.otp p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
/* /* .otp-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}
 */  
.otp-header {
  background: #7ee282;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  }
.newsregister{
  text-align: center;
    color: #e6e4e5;
    padding: 4px!important;
    top: 8px;
    position: relative;
  }
.otphead{
    margin-top: 45px;
  text-align: center;
    color: #8b8989;
    line-height: 1;
    font-size: 20px;
    font-weight: 500;
  }


.otp-container {
  background: #fff;
  padding: 50px;
}
#writeinput{
top:35px;
position:relative;
}

/* Every row inside .otp-container is defined with p tags */
.otp p {
  padding: 12px;
      text-align: center;
    text-align: -webkit-center;
}

.otp input {
     margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 35%;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    top: 35px;
    border-color: #b8b3b3;
}

.otp input[type="email"],
.otp input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.img-loginpen{
height:40px;
width:100%;
}
/* Text fields' focus effect */
.otp input[type="email"]:focus,
.otp input[type="password"]:focus {
  border-color: #888;
}

.otp input[type="submit"] {
  
    position: relative;
    background: #4CAF50;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    top: -20px;
}

.otp input[type="submit"]:hover {
  background: #4CAF50;
}

/* Buttons' focus effect */
.otp input[type="submit"]:focus {
  border-color: #05a;
}


@media only screen and (max-width:768px) {
.otp {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
.otp-container {
    background: #fff;
    padding: 28px;
    top: 50px;
    position: relative;
    }
body {
    background: #fff;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width:367px) {
.otp input {
     margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    top: 35px;
    border-color: #b8b3b3;
}
}