body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.row.unlimited-items {
  flex-wrap: wrap;
}

.row.unlimited-items .col{
  flex: none;
  width: 43%;
}

/*Categories*/
.card-image {
    width:100%;
    height:auto;
    padding:0px;
    margin:0px;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    overflow:hidden;
}

.card-manual {
  background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    margin-left: auto;
    margin-right: auto
    overflow:hidden;
}

.no-white-space {
  white-space: normal !important;
}

.empty {
    top: 30;
    text-align: center;
    color: gray;
}

.welcomeForm{

}
.menuhead{
height:160px;
background: #7ee282!important;
}
.menu .bar-header {
    padding: 38px;
  }
.menutitle{
  font-size: 20px;
    position: absolute;
    /* width: 100%; */
    top: 70px;
    color: #fff;
    /* display: inline-block; */
    left: 55px;
} 
.username{
position: absolute;
    font-size: 15px;
    color: #fff;
    left: 10px;
    bottom: 0;
}  
[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #7ee282!important;
}
  

/*Welcome-Login*/
.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}
.login-header {
    background: #7ee282;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    }
.newsregister{
    text-align: center;
    color: #e6e4e5;
    padding: 4px!important;
    top: 40px;
    position: relative;
    }
.newshead{
    text-align: center;
    color: #8b8989;
    line-height: 1;
    font-size: 28px;
    font-weight: 500;
    }

.login-container {
  background: #fff;
  padding: 70px;
}
#writeinput{
top:35px;
position:relative;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    top: 50px;
    border-color: #b8b3b3;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.img-loginpen{
height:50px;
width:100%;
}
/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  
    position: relative;
    background: #4CAF50;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    top: 25px;
}

.login input[type="submit"]:hover {
  background: #4CAF50;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}


@media only screen and (max-width:768px) {
.login {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    }
.login-container {
    background: #fff;
    padding: 44px;
    }
body {
    background: #fff;
    margin: 0;
    padding: 0;
    }
    
}

/*Navigation Bar Fix*/
.platform-android .bar .title {
    line-height: 50px !important;
}

.bar .title.title-left {
    left: 30px !important;
}